################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Call Logger Application/.vs/ContosoMobile/FileContentIndex
/Call Logger Application/CallLog/obj
